.logo-img-footer {
    width: 250px;
    margin-left: 0;
}

.footer-blue {
    background: linear-gradient(135deg, #1a237e 0%, #0d47a1 100%);
    color: white;
    padding: 50px 40px;
}

.footer-yellow {
    background: #ffd600;
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

.contact-section h2 {
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 700;
}

.contact-item {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-icon i {
    font-size: 20px;
    margin-top: 4px;
}

.contact-text {
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
}

.contact-text a {
    color: #fff !important;
    text-decoration: none;
}

.contact-text a:hover {
    text-decoration: underline;
}


/* MAP BOX */
.maps-box iframe {
    width: 100% !important;
    height: 250px !important;
    border: none;
    border-radius: 10px;
}

/* SOCIAL ICON */
.social-links {
    display: flex;
    gap: 15px;
    justify-content: right;
}

.social-link {
    width: 48px;
    height: 48px;
    background: #ffd600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #000;
    transition: .3s;
    text-decoration: none;
}

.social-link:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(255, 214, 0, 0.45);
}

/* MOBILE */
@media (max-width: 768px) {
    .footer-blue {
        padding: 25px;
    }

    .logo-img-footer {
        width: 200px;
    }
}
